* {
    margin: 1;
    padding: 2;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: goldenrod;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box1 {
    margin: 1rem;
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.box2 {
    margin: 1rem;
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.box3 {
    margin: 1rem;
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}